@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Roboto|Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
@import url("https://use.typekit.net/rfm3fxi.css");

/* FONT LIST */
.flower  { font-family: 'Indie Flower', cursive !important; }
.times   { font-family: 'Times New Roman', Times, serif !important; }
.roboto  { font-family: 'Roboto', sans-serif !important; }
.ubuntu  { font-family: 'Ubuntu', sans-serif !important; }
.slabo   { font-family: 'Slabo 27px', sans-serif !important; }
.courier { font-family: "courier-std",monospace !important; }

body {
    font-family: 'Indie Flower', cursive;
}

.title {
    margin: 30px 0px 30px 0px;
    text-align: center;
}

.description {
    text-align: center;
    color: blueviolet;
    font-size: 1.2em;
}

.image {
    max-width: 500px;
    max-height: 270px;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 5px blueviolet;
    border-radius: 15px;
    padding: 15px;
    transition: 0.5s all;
}

.image:hover {
    box-shadow: 0px 0px 5px red;
}

.label {
    font-size: 1.5em;
}

.input {
    font-family: 'Courier New', Courier, monospace;
}

.input.result {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    letter-spacing: -1px !important;
    height: 50px;
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;
}

.select {
    text-align-last:center;
}

.btn-copy {
    width: 40px;
    text-align: center;
    vertical-align: middle;
    background-color: blueviolet;
    transition: 0.5s;
}

.btn-copy:hover {
    cursor: pointer;
    background-color: rgb(2, 191, 248);
}

.icon-btn-copy {
    color: #fff;
    width: 100%;
    height: 100%;
    position: relative;
    top: 14px;
    left: 0;
}